.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 420px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blog_image {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 200px;
}

.blog_info {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 2px 16px;
}

.read_more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read_more:hover {
  cursor: pointer;
}
