.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 3rem 0;
}

.container > h3 {
  width: 22rem;
  word-break: break-word;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
