.subscribe_container {
  width: 100%;
  background-color: rgb(60, 60, 240);
  color: #fff;
  padding: 1rem 1rem 2rem 1rem;
  margin-top: 1rem;
}

.subscribe_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_content > h2 {
  font-weight: 500;
  width: 26rem;
}

.subscribe_input_container {
  width: 50%;
  text-align: right;
}

.subscribe_input {
  border: 1px solid #ccc;
  padding: 0.8rem 0.4rem;
  border-radius: 5px;
  background-color: transparent;
  width: 60%;
  margin-right: 0.5rem;
}

.subscribe_input:focus {
  outline: none;
  color: #fff;
}

.subscribe_input::placeholder {
  color: #fff;
}

.subscribe_btn {
  border: none;
  background-color: #fff;
  padding: 0.8rem 1rem;
  color: var(--dark-blue);
  border-radius: 6px;
  margin-top: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .subscribe_content {
    flex-direction: column;
  }

  .subscribe_content > h2 {
    text-align: center;
  }

  .subscribe_input_container {
    width: 100%;
    text-align: center;
  }

  .subscribe_input {
    width: 100%;
    padding: 0.5rem;
  }

  .subscribe_btn {
    padding: 0.5rem;
    border-radius: 3px;
    width: 100%;
  }
}
